//GLOBALS is all the elements and class styles that are reusable
// go to theme to change the colours
// go to layout to move stuff on the page around

body, html { background: $background; color: $foreground; font-family: $mono}

//links
a, a:link, h1 a:visited { color: $brand; text-decoration: none }
#sidebar a, #sidebar a:link, button:active { color: $primary; }
a:active { color:$highlight }
a:visited { color:$secondary }

// buttons
button {
    background: none;
    border: none;
    color: $brand
}

// menus, navs
.menu {list-style: none;}
.post nav {display:flex; justify-content: space-between}

//countdown - big text
#timer {
    font-size: 20vh;
}


//offscreen
@mixin offscreen {
    position: absolute;
    margin-left: -999em;
    font-size: 0;
    opacity: 0;
}

.landmark {
    @include offscreen;
}