//fonts
@import url('https://fonts.googleapis.com/css?family=Space+Mono');
$mono: Monaco,'Space Mono', monospace;

// colours etc - currently set to monokai palette

$brand: #a6e22e ; // hacker green
$background: #272822 ; // dark grey
$foreground: #F8F8F2; // white
$highlight: #AE81FF; // purple

//extra detail
$primary: #f92672; // red
$secondary: #66d9ef; // cyan
$tertiary: #75715e; // light grey


// mixins
@mixin invert {
	background: $foreground;
	color: $background;
}


